/* ================= RESET ================= */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ================= BASE ================= */
section {
    padding: 0 30px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 1) 69%);
}

img {
    width: 20px;
    height: 20px;
}

/* ================= TÍTULO ================= */
.conteiner_titulo {
    text-align: center;
}

.titulo {
    margin-top: 40px;
    padding-top: 20px;
    font-size: 20px;

    background: linear-gradient(90deg, #2600ff, #f500c0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.titulo_icon > p{
    font-size: 14px;
}

.titulo_icon > h2{
    font-size: 20px;
}

/* ================= MENU-QUESTÂO ================= */
.conteiner_menu_questao {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    width: 60%;
    margin: auto;
    padding: 22px;

    background-color: white;
    border-radius: 10px;
    border: 1px solid rgb(192, 192, 192);
    box-shadow: 11px 14px 62px rgba(194, 194, 194, 0.43);
}

.DIVnumeroDaQuestao{
    width: 100%;
    text-align: right;
}

.icon{
    display: flex;
    align-items: center;
    gap: 10px;
}

.img_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2600ff;
    border-radius: 100%;
    padding: 10px;
    width: 45px;
    height: 45px;
}

#acertos{
    background-color: green;
}

#erro{
    background-color: red;
}

#aprove{
    background-color: #e7c504;
}

/*====== QUESTÃO CARD ======*/

.questao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;

    width: 60%;
    margin: auto;
    padding: 22px;

    background-color: white;
    border-radius: 10px;

    border: 1px solid rgb(192, 192, 192);
    box-shadow: 11px 14px 62px rgba(180, 180, 180, 0.43);
}

.expressao{
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: arial;
    font-size: 50px;
}

.num{
    text-align: center;
    color: #2600ff;
    background-color: rgb(233, 233, 233);
    padding: 8px;
    width: 100px;
    border-radius: 20px;
}

.sinal , .igualdade{
    color: #f500c0;
}


#Input_resultado{
    text-align: center;
    width: 140px;
    height: 75px;
    font-size: 50px;
    padding: 4px;
    border: none;
    border-bottom: 5px solid #f500c0;
    outline: none;
}

/*========== BOTÃO DE REINICIAR ============*/

.Btn_reiniciar{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 20px;
}

#Btn_reiniciar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: none;
    font-family: arial;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    background-color: rgba(243, 243, 243, 0);
    padding: 10px;
}

#Btn_reiniciar:hover{
    transition: 0.4s;
    border-bottom: 1px solid gainsboro;
}

#verificarConta{
    padding: 10px;
    border-radius: 10px;
    font-family: arial;
    font-weight: 700;
    color: white;
    background: linear-gradient(90deg, hsl(259, 85%, 48%) 0%, #f500f5 50%);
    border: none;
    cursor: pointer;
    width: 150px;
    font-size: 14px;
}

#verificarConta:hover{
    transition: 0.4s;
    background: linear-gradient(90deg, hsl(259, 100%, 42%) 0%, #c900c9 50%);
}

@media (max-width: 768px) {
    img {
        width: 18px;
        height: 18px;
    }
    
    .titulo {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .questao {
        width: 100%;
        margin: auto;
        padding: 11px;
        gap: 18px;
    }

    .expressao {
        gap: 0px;
        font-size: 35px;
        padding: 5px;
        width: 90%;
    }

    .num {
        padding: 0px;
        background-color: transparent;
    }

    #Input_resultado {
        font-size: 30px;
        width: 70px;
        margin: 10px;
    }

    .conteiner_menu_questao {
      width: 100%;
      margin: auto;
      padding: 10px;
      display: flex;
      flex-direction: column;
    }
}



